<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Домашняя страница</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</head>
<body>

<th:block th:include="fragments/header.html"></th:block>

<div class="d-flex align-items-center justify-content-center vh-100" th:if="${productIsEmpty != null}">
    <div class="text-center">
        <p class="fs-3"><span class="text-danger">Хммм..</span> Кажется, вы еще не добавили продукты.</p>
    </div>
</div>

<div class="w-100 p-5 y-5" th:if="${products != null}">
    <div class="row gy-5 gx-5 overflow-hidden">
        <div class="col-3" th:each="product : ${products}">
                <div class="card form-floating border-light-subtle shadow-sm">
                    <a th:href="@{/card/{productId}(productId=${product.productId})}">
                    <img th:src="${minioHost + product.imageId}" class="card-img-top"
                         style="width: 100%; height: 30vw; object-fit: cover; ">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${product.title}"></h5>
                        <p class="card-text" th:text="${product.subtitle}"></p>
                        <p class="card-text" th:text="${product.price + ' ₽'}"></p>
                        <span class="badge rounded-pill bg-warning text-dark" th:text="${#strings.substring(product.rating,0,3)}"></span>
                        <a th:if="${role.equals('USER') || role.equals('')}" th:href="@{/basket/add/{productId}(productId=${product.productId})}" class="btn btn-light">Добавить
                            в корзину</a>
                    </div>
                </div>
        </div>
    </div>
</div>

</body>
</html>