<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Управление статикой</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons.css}">
    <link rel="stylesheet" th:href="@{/css/all.min.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/jquery-3.7.1.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
</head>
<body>

<th:block th:include="fragments/header.html"></th:block>

<div>
    <br>
</div>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
    <tr>
        <th></th>
        <th>Имя файла</th>
        <th>Размер</th>
        <th>Адрес</th>
        <th>Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="image : ${images}">
        <td>
            <div class="d-flex align-items-center">
                <img
                        th:src="${image.url}"
                        alt=""
                        style="width: 65px; height: 65px"
                        class="rounded-circle"
                />
            </div>
        </td>
        <td>
            <p class="fw-normal mb-1" th:text="${image.filename}">Filename</p>
        </td>
        <td>
            <p class="fw-normal mb-1" th:text="${image.size}">123213213</p>
        </td>
        <td th:text="${image.url}">http://asdsadsad</td>
        <td>
            <a th:href="@{/admin/images/delete/{filename}(filename=${image.filename})}">
                <button type="button" class="btn btn btn-outline-dark">
                    Удалить
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>

<br>
<br>
<div class="w-25 p-3">
    <form method="POST" enctype="multipart/form-data" th:action="@{./upload}">
        <div>
            <label for="image_uploads" class="form-label">Выберите файл для загрузки</label>
            <input
                    class="form-control"
                    type="file"
                    id="image_uploads"
                    name="file"
                    accept=".jpg, .jpeg, .png"
                    multiple/>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-dark">Загрузить</button>
        </div>
    </form>
</div>

</body>
</html>